[Desktop Entry]
Encoding=UTF-8
Name=fluxbox-patched
Comment=A lightweight window manager for the X Windowing System
Exec=startfluxbox
Icon=fluxbox
Type=XSession
